<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>{{localize 'LABELS.Skills.skill' }}</div>
    <div class='item-name'>{{localize 'LABELS.Skills.rating' }}</div>
    <div class='item-controls'>      
      

    </div>
  </li>
  {{#each system.skills as |skill key|}}
    <li class='item flexrow' data-item-id='{{key}}'>
      <div class='item-name'>
        <div class='item-image'>
          <a class='rollable' data-roll-type='skill'>
            
          </a>
        </div>
        <h4 for="system.skills.{{key}}.value">{{localize (lookup @root.config.UNBOUNDFATE.skills key)}}</h4> 
      </div>
      <div>
        <label>{{key.rating}}</label>
      </div>
      <div class='item-controls'>
        <a
          class='item-control item-edit'
          title='{{localize "DOCUMENT.Edit" type='{{skill}}'}}'
        >
          <i class='fas fa-edit'></i>
        </a>        
      </div>
    </li>
  {{/each}}
</ol>