<div class="uf-hp-bar-container">        
  <div class="flexcol">
    <div class="flexrow uf-hp-bar-header">
      <label class="resource-label uf-hp-bar-header-label">Hit Points</label>  
      <div class="flexrow uf-hp-bar-header-inputs">              
        <input type="number" name="system.hitPoints.currentHP" value="{{system.hitPoints.currentHP}}" data-dtype="Number" />
        <span class="flex0 uf-hp-bar-header-maxhp"> / {{system.hitPoints.maxHP}}</span>
        <a class="flex0 uf-hp-bar-header-log-btn" title="Show HP Log"><i class="fas fa-history"></i></a>
      </div>
    </div>          
    <div class="resource-content flexrow flex-center flex-between uf-hp-bar-bar">
      {{#each (range 1 system.hitPoints.maxHP)}}
        {{!-- Calculate the HP index (1-based) --}}
        {{#if (lt this ../system.hitPoints.currentHP)}}
          <div class="hp-box hp-box-filled" title="HP {{this}}"></div>
        {{else}}
          <div class="hp-box" title="HP {{this}}"></div>
        {{/if}}
      {{/each}}
    </div>
  </div>  
</div>
