<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>{{localize 'UNBOUNDFATE.LABELS.Skills.Skill' }}</div>
    <div class='item-name'>{{localize 'UNBOUNDFATE.LABELS.Skills.Rating' }}</div>

    <div class='item-controls'>      
      

    </div>
  </li>
  {{#each system.skills as |skill key|}}
    <li class='item flexrow' data-item-id='{{key}}'>
      <div class='item-name'>
        <div class='item-image'>
          <a class='rollable' data-roll-type='skill'>
            
          </a>
        </div>
        <h4 for="system.skills.{{key}}">{{localize (lookup @root.config.skills key)}}</h4> 
      </div>
      <div>
        <label>{{skill.rating}}</label>
      </div>
      <div class='item-controls'>
        <a class='item-control skill-edit' title='{{localize "DOCUMENT.Edit" type='{{skill}}'}}' >
          <i class='fas fa-edit'></i>
        </a>        
      </div>
    </li>
  {{/each}}
</ol>