<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>{{localize 'Skill'}}</div>
    <div class='item-controls'>      
      

    </div>
  </li>
  {{#each skills as |item id|}}
    <li class='item flexrow' data-item-id='{{item._id}}'>
      <div class='item-name'>
        <div class='item-image'>
          <a class='rollable' data-roll-type='item'>
            
          </a>
        </div>
        <h4>{{item.name}}</h4>
      </div>
      <div class='item-controls'>
        <a
          class='item-control item-edit'
          title='{{localize "DOCUMENT.Edit" type='{{item.type}}'}}'
        >
          <i class='fas fa-edit'></i>
        </a>        
      </div>
    </li>
  {{/each}}
</ol>