<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>{{localize "LABELS.Skills.Skill" }}</div>
    <div class='item-name'>{{localize "LABELS.Skills.Rating" }}</div>
    <div class='item-name'>{{localize "LABELS.Skills.Specialisation" }}</div>
    <div class='item-controls'>      
      

    </div>
  </li>
  {{#each system.skills as |skill key|}}
    <li class='item flexrow' data-item-id='{{key}}'>
      <div class='item-name'>
        <label for="system.skills.{{key}}" class="rollable" data-roll-type='skill'>{{localize (lookup @root.config.skills key)}}</label> 
      </div>
      
      <div>
        <label>{{skill.rating}}</label>
      </div>

      <div>
        <label class="rollable" data-roll-type='skill-spec'>{{skill.specialisation}}</label>
      </div>

      <div class='item-controls'>
        <a class='item-control skill-edit' title='{{localize "DOCUMENT.Edit" type='{{skill}}'}}' >
          <i class='fas fa-edit'></i>
        </a>        
      </div>
    </li>
  {{/each}}
</ol>