<form class="{{cssClass}} {{actor.type}} flexcol uf-dialog uf-actor-dialog" autocomplete="off">
  {{!-- Creation Mode Ribbon --}}
  <div class="creation-mode-ribbon flex0" style="background: {{#if system.isCreationMode}}#e67e22{{else}}#888{{/if}}; border-radius: 4px 4px 4px 4px;">
    <div class="flexcol" style="text-align: center;">
      {{#if system.isCreationMode}}
        <div class="flewrow">
          <div style="text-align: center;">Character Creation Mode</div>
          <div class="flex0">
            <a class="toggle-creation-mode" title="Ready for Play"><i class="fas fa-user-check"></i> Ready for Play </a>
          </div>                    
        </div>       
      {{else}}
        <div class="flexrow">
          <div class="" style="text-align: center;">Normal Mode</div>        
          <div class="flex0">
            <a class="toggle-creation-mode" title="Return to Character Creation"><i class="fas fa-edit"></i></a>
          </div>  
        </div>
      {{/if}}
    </div>
  </div>

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
   
    <div class="flexcol header-fields">      
      
           
      <div class="character-name-container">
        {{!-- Character Name Input --}}
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      </div>
  
      {{> "systems/unboundfate/templates/actor/parts/actor-hp-bar.hbs"}}
        
    </div>   

    <div class="flexcol header-fields actor-resources">          
      {{!-- other resources can be added here --}}
      {{#if system.fatePoints.hasFatePoints}}
        {{> "systems/unboundfate/templates/actor/parts/actor-fatepoints.hbs"}}
      {{/if}}
      
      {{#if canHaveRace}}
        {{> "systems/unboundfate/templates/actor/parts/actor-race.hbs"}}
      {{/if}}

      {{!-- Grit --}}
      {{> "systems/unboundfate/templates/actor/parts/actor-grit.hbs"}}

    </div>

  </header>
  
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}    
    <a class="item" data-tab="core">Core</a>
    <a class="item" data-tab="talents">Talents &amp; Flaws</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="biography">Biography</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Core Tab --}}
    <div class="tab core" data-group="primary" data-tab="core">
      <section class="grid grid-4col">
        <aside class="sidebar">
          {{> "systems/unboundfate/templates/actor/parts/actor-abilities.hbs"}}
        </aside>
        <section class="main grid-span-3">
          <div class="flewcol">
            <div class="flex0 flexrow">
              {{!-- Movement Panel --}}
              {{!-- {{> "systems/unboundfate/templates/actor/parts/actor-movement.hbs"}} --}}

              {{!-- Actions Panel --}}
              {{> "systems/unboundfate/templates/actor/parts/actor-actions.hbs"}}
            </div>

            {{!-- Skills Panel --}}
            <div>
              {{> "systems/unboundfate/templates/actor/parts/actor-skills.hbs"}}
            </div>
          </div>

          
        </section>
      </section>
    </div> 

    {{!-- Talents & Flaws Tab --}}
    <div class="tab talents" data-group="primary" data-tab="talents">
      {{> "systems/unboundfate/templates/actor/parts/actor-talents.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/unboundfate/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/unboundfate/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/unboundfate/templates/actor/parts/actor-effects.hbs"}}
    </div>

      {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="biography">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

  </section>
</form>
