<div class="flexrow">
    <a class="flex0 chat-select-link" data-token-id="{{actor.tokenId}}">
        <img class="" src='{{actor.img}}' alt="{{actor.name}}" data-actorType="{{actorType}}"  style="width:30px; height:30px; border: none;">    
    </a>
    <h4 style="margin-left: 5px">{{actor.name}}</h4>    
</div>
