<div class="flexrow chat-actor-container">
    <a class="flex0 chat-select-link" data-token-id="{{actor.tokenId}}">
        <img class="" src='{{actor.img}}' alt="{{actor.name}}" data-actorType="{{actorType}}">    
    </a>
    <h4 class="chat-actor-name">{{actor.name}}</h4>    
</div>
