{{!-- templates/dialogs/skill-dialog.hbs --}}
<form>
  <!-- Skill -->
  <div class="form-group">
    <label>Skill</label>
    <div class="flexrow"></div>
      <span>{{skillLabel}}</span>
      <input class="flex0 stat-value-box" id="skillRating" value="{{skillRating}}" disabled />
    </div>
  </div>
  <!-- Ability -->
  <div class="form-group">
    <label for="abilityKey">Ability</label>
    <div class="flexrow">
      <select name="abilityKey">
        {{#each abilityOptions}}
          <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
        {{/each}}
      </select>      
      <input class="flex0 stat-value-box" id="ability-value" value="{{ability-value}}" disabled />
    </div>
  </div>
  <!-- Modifuer -->
  <div class="form-group">
    <label for="modifier">Modifier</label>
    <input type="number" name="modifier" value="{{modifier}}" />
  </div>
  <!-- Specialisation -->
  <div class="form-group">
    <label for="useSpec">Apply Specialisation</label>
    <input type="checkbox" id="useSpec" name="useSpec" {{#if useSpec}}checked{{/if}} />
  </div>
  <div class="form-group">
    <label for="specialisation">Specialisation</label>
    <input type="text" name="specialisation" value="{{specialisation}}" disabled />
  </div>
  <hr>
  <div class="form-group">
    <label>Modifiers</label>
    <span id="modifiers-string">{{modifiersString}}</span>
  </div>
  <div class="form-group">
    <label for="total">Total</label>
    <input type="number" name="total" value="{{total}}" disabled />
  </div>
  <hr>
  <div class="form-group">
    <label for="targetNumber">Target Number</label>
    <input type="number" name="targetNumber" value="{{targetNumber}}" min="0" />
  </div>
  <hr>
  <div class="form-group">
    <label for="rollMode">Roll Type</label>
    <select name="rollMode">
      {{#each rollModes}}
        <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
    </select>
  </div>
</form>
