<form class="uf-dialog uf-weapon-dialog">
  <div class="flexrow">
    <div class="item-portait">
      <img src="{{weaponImage}}" alt="{{weaponName}}" />
    </div>
    <div class="flexcol">
      <h3 class="item-name">{{weaponName}}</h3>
      <div class="flexrow">
        <label>Weapon Type</label>
        <span name="weaponType" id="weaponType">{{weaponType}}</span>
      </div>
      <div class="flexrow">
        <label>Attack Type</label>
        <span name="attackType" id="attackType">{{attackType}}</span>
      </div>
      <div class="flexrow">
        <label>Weapon Skill</label>
        <span name="weaponSkillKey" id="weaponSkillKey">{{weaponSkillKey}} {{#if weaponSkillSpec}}({{weaponSkillSpec}}){{/if}}</span>
      </div>
    </div>
  </div>

  <hr>
  <!-- Ability -->
  <div class="form-group">
    <label for="abilityKey">Ability</label>
    <div class="flexrow">
      <select class="flex2" name="abilityKey">
        {{#each abilityOptions}}
          <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
        {{/each}}
      </select>
      <input class="flex0 stat-value-box" id="ability-value" value="{{abilityValue}}" disabled />
    </div>
  </div>
  <!-- Skill -->
  <div class="form-group">
    <label>Skill</label>
    <div class="flexrow">
      <select class="flex2" name="skillKey">
      {{#each skillOptions}}
        <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
      </select>
      <input class="flex0 stat-value-box" id="skill-rating" value="{{skillRating}}" disabled />
    </div>   
  </div>
  <!-- Specialisation --> 
  <div class="form-group">
    <label for="specialisation">Specialisation</label>
    <div class="flexrow">
      <input class="flex0" type="checkbox" id="useSpec" name="useSpec" {{#if useSpec}}checked{{/if}} disabled/>
      <input class="flex2" type="text" name="skillSpec" id="skillSpec" value="{{skillSpec}}" disabled />
      <input class="flex0 stat-value-box" id="skillSpecBonus" value="{{#if useSpec}}2{{else}}0{{/if}}" disabled />
    </div>
  </div>
  <!-- Modifier -->
  <div class="form-group">
    <label for="modifier">Modifier</label>
    <input type="number" name="modifier" value="{{modifier}}" />
  </div>

  <hr>
  <div class="form-group">
    <label>Modifiers</label>
    <span id="modifiers-string">{{modifiersString}}</span>
  </div>
  <div class="form-group">
    <label>Total Pool</label>
    <input type="text" name="totalPool" id="totalPool" value="{{totalPool}}" disabled />
  </div>

  <hr>

  <div class="form-group">
    <label>Damage</label>
    <span name="weaponDamageString">{{weaponDamageString}}</span>    
  </div>

  <hr>

  <div class="form-group">
    <label>Targets</label>
    <span name="targetNames">{{#if targetNames}}{{targetNames}}{{else}}<em>None</em>{{/if}}</span>
  </div>
</form>
