<form>
  <div class="form-group">
    <label>Weapon:</label>
    <span name="weaponName">{{weaponName}}</span>
  </div>

  <div class="form-group">
    <label>Weapon Type:</label>
    <span name="weaponType">{{weaponType}}</span>
  </div>

  <div class="form-group">
    <label>Weapon Skill:</label>
    <span name="weaponSkillKey">{{weaponSkillKey}} {{#if weaponSkillSpec}}({{weaponSkillSpec}}){{/if}}</span>
  </div>
  
  <!-- Ability -->
  <div class="form-group">
    <label for="abilityKey">Ability</label>
    <select name="abilityKey">
      {{#each abilityOptions}}
        <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
    </select>
    <span> (<span id="ability-value">{{abilityValue}}</span>)</span>
  </div>
  <!-- Skill -->
  <div class="form-group">
    <label>Skill:</label>
    <select name="skillKey">
      {{#each skillOptions}}
        <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
    </select>
    <span> (<span id="skill-rating">{{skillRating}}</span>)</span>
  </div>
  <div class="form-group">
    <label for="useSpec">Apply Specialisation</label>
    <input type="checkbox" id="useSpec" name="useSpec" {{#if useSpec}}checked{{/if}} disabled/>
  </div>
  <div class="form-group">
    <label for="specialisation">Specialisation</label>
    <input type="text" name="skillSpec" value="{{skillSpec}}" disabled />
  </div>
  <!-- Modifier -->
  <div class="form-group">
    <label for="modifier">Modifier</label>
    <input type="number" name="modifier" value="{{modifier}}" />
  </div>

  <hr>
  <div class="form-group">
    <label>Modifiers</label>
    <span id="modifiers-string">{{modifiersString}}</span>
  </div>
  <div class="form-group">
    <label>Total Pool:</label>
    <input type="text" name="totalPool" id="totalPool" value="{{totalPool}}" disabled />
  </div>

  <hr>

  <div class="form-group">
    <label>Damage (1H/2H):</label>
    <span name="damage">{{damage1H}}{{#if damage2H}} / {{damage2H}}{{/if}}</span>
  </div>

  <hr>

  <div class="form-group">
    <label>Targets:</label>
    <span name="targetNames">{{#if targetNames}}{{targetNames}}{{else}}<em>None</em>{{/if}}</span>
  </div>
</form>
