<form>
  {{!-- Attack Details --}}
  <h3>Incoming Attack</h3>
  
  <div class="form-group">
    <label>Attack Type</label>
    <input type="text" name="attackType" value="{{attackType}}" disabled id="attackType"/>
  </div>

  <div class="form-group">
    <label>Attack Successes</label>
    <input type="number" name="attackSuccesses" value="{{attackSuccesses}}" min="0" disabled id="attackSuccesses"/>
  </div>


  {{!-- Ability Details --}}
  <hr>
  <h3>Abilities</h3>
  <div class="form-group">
    <label>Ability 1</label>
    <select name="ability1Key" id="ability1Key">
      {{#each ability1Options}}
        <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}} ({{this.value}})</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label>Ability 2</label>
    <select name="ability2Key" id="ability2Key">    
      {{#each ability2Options}}
        <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}} ({{this.value}})</option>
      {{/each}}
    </select>
  </div>

  {{!-- Parry Details --}}
  <hr>
  <div class="form-group">
    <label>Equipped Weapon (Parry)</label>
    <select name="weaponId">
      <option value="">None</option>
      {{#each actorWeaponOptions}}
        <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label>Linked Skill</label>   
    <input name="actorWeaponSkill" id="actorWeaponSkill" value="{{actorWeaponSkillKey}} (Rating: {{actorWeaponSkillRating}})" disabled />  
  </div>
  <div class="form-group">
    <label>Parry (min of skill and weapon parry)</label>
    <input type="number" name="actorParry" value="{{actorParry}}" disabled id="actorParry"/>
  </div>
  
  

  {{!-- Shield Details --}}
  <hr>
  <h3>Shield</h3>
  <div class="form-group">
    <label>Readied Shield</label>
    {{#if actorShieldReadied}}
      <span id="actorShieldRating">{{actorShieldReadied.name}} (Block: {{actorShieldReadied.system.shieldRating}})</span>
    {{else}}
      <span>None</span>
    {{/if}}
  </div>


  {{!-- Armor Details --}}
  <hr>
  <h3>Armor Deflection</h3>
  <div class="form-group">
    <label>Equipped Armor</label>
    <span>
      {{#if actorArmorListString}}
        {{actorArmorListString}}
      {{else}}
        None
      {{/if}}
    </span>
  </div>
  <div class="form-group">
    <label>Total Deflect</label>
    <input type="number" name="actorArmorDeflect" value="{{actorArmorDeflect}}" disabled id="actorArmorDeflect"/>
  </div>


  {{!-- Modifer --}}
  <h3>Modifier</h3>
  <div class="form-group">
    <label>Modifier</label>
    <input type="number" name="modifier" value="{{modifier}}"/>
  </div>
   
  <h3>Total</h3>
  <div class="form-group">
    <label>Modifiers</label>
    <span id="modifiersString">{{modifiersString}}</span>
  </div>

  <div class="form-group">
    <label>Total Pool</label>
    <input type="number" name="totalPool" id="totalPool" value="{{totalPool}}" disabled/>
  </div>
 
  <hr>
  <div class="form-group">
    <label>Target Number (Attack Successes):</label>
    <input type="number" name="targetNumber" id="targetNumber" value="{{targetNumber}}" min="0"/>
  </div>

</form>
