<form class="uf-dialog uf-weapon-dialog">
  <div class="flexcol">
    <div class="flexrow">    
      <label>Weapon</label>     
      <span name="weaponName">{{weaponName}}</span>    
    </div>
    <div class="flexrow">
      <label>Weapon Type</label>
      <span name="weaponType" id="weaponType">{{weaponType}}</span>
    </div>
    <div class="flexrow">
      <label>Attack Type</label>
      <span name="attackType" id="attackType">{{attackType}}</span>
    </div>
    <div class="flexrow">
      <label>Weapon Skill</label>
      <span name="weaponSkillKey" id="weaponSkillKey">{{weaponSkillKey}} {{#if weaponSkillSpec}}({{weaponSkillSpec}}){{/if}}</span>
    </div>


  </div>
 

  

 

  <hr>
  <!-- Ability -->
  <div class="form-group">
    <label for="abilityKey">Ability</label>
    <div class="flexrow">
      <select class="flex2" name="abilityKey">
        {{#each abilityOptions}}
          <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
        {{/each}}
      </select>
      <input class="flex0 stat-value-box" id="ability-value" value="{{abilityValue}}" disabled />
    </div>
  </div>
  <!-- Skill -->
  <div class="form-group">
    <label>Skill</label>
    <div class="flexrow">
      <select class="flex2" name="skillKey">
      {{#each skillOptions}}
        <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
      </select>
      <input class="flex0 stat-value-box" id="skill-rating" value="{{skillRating}}" style="width: 40px" disabled />
    </div>   
  </div>
  <div class="form-group">
    <label for="useSpec">Apply Specialisation</label>
    <input type="checkbox" id="useSpec" name="useSpec" {{#if useSpec}}checked{{/if}} disabled/>
  </div>
  <div class="form-group">
    <label for="specialisation">Specialisation</label>
    <input type="text" name="skillSpec" id="skillSpec" value="{{skillSpec}}" disabled />
  </div>
  <!-- Modifier -->
  <div class="form-group">
    <label for="modifier">Modifier</label>
    <input type="number" name="modifier" value="{{modifier}}" />
  </div>

  <hr>
  <div class="form-group">
    <label>Modifiers</label>
    <span id="modifiers-string">{{modifiersString}}</span>
  </div>
  <div class="form-group">
    <label>Total Pool</label>
    <input type="text" name="totalPool" id="totalPool" value="{{totalPool}}" disabled />
  </div>

  <hr>

  <div class="form-group">
    <label>Damage</label>
    <span name="weaponDamageString">{{weaponDamageString}}</span>    
  </div>

  <hr>

  <div class="form-group">
    <label>Targets</label>
    <span name="targetNames">{{#if targetNames}}{{targetNames}}{{else}}<em>None</em>{{/if}}</span>
  </div>
</form>
