{{! filepath: templates/item/item-armour-sheet.hbs }}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="form-group">
        <label class="resource-label">PDF Reference</label>
        <input type="text" name="system.pdfReference" value="{{system.pdfReference}}" data-dtype="Text" />
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      <div class="flexrow">
        <div class="flexcol flex1">
          {{!-- Weight --}}
          <div class="flexrow nowrap">
            <label class="resource-label">Weight</label>
            <input type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number" step="any" />
          </div>
          {{!-- Cost --}}
          <div class="flexrow nowrap">
            <label class="resource-label">Cost</label>
            <input type="number" name="system.cost" value="{{system.cost}}" data-dtype="Number" step="any" />
          </div>
          {{!-- Armour Rating --}}
          <div class="flexrow nowrap">
            <label class="resource-label">Armour Rating</label>
            <input type="number" name="system.armourRating" value="{{system.armourRating}}" data-dtype="Number" />
          </div>
          {{!-- Armour Type --}}
          <div class="flexrow nowrap">
            <label class="resource-label">Armour Type</label>
            <input type="text" name="system.armourType" value="{{system.armourType}}" data-dtype="Text" />
          </div>
          {{!-- Deflect --}}
          <div class="flexrow nowrap">
            <label class="resource-label">Deflect</label>
            <input type="number" name="system.deflect" value="{{system.deflect}}" data-dtype="Number" />
          </div>
          {{!-- Is Equipped --}}
          <div class="flexrow nowrap">
            <label class="resource-label">Is Equipped</label>
            <input type="checkbox" name="system.isEquipped" {{#if system.isEquipped}}checked{{/if}} />
          </div>
        </div>
        <div class="flex2">
          {{editor enrichedDescription target="system.description" engine="prosemirror" button=true editable=editable}}
        </div>
      </div>
    </div>
    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/unboundfate/templates/item/parts/item-effects.hbs"}}
    </div>
  </section>
</form>
