{{! filepath: templates/item/item-weapon-sheet.hbs }}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>      
        <div class="form-group">
          <label class="resource-label">PDF Reference</label>
          <input type="text" name="system.pdfReference" value="{{system.pdfReference}}" data-dtype="Text" />
        </div>            
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item {{#unless showMeleeTab}}hide{{/unless}}" data-tab="melee">Melee</a>
    <a class="item {{#unless showRangedTab}}hide{{/unless}}" data-tab="ranged">Ranged</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      <div class="flexrow">
        <div class="flexcol flex1">
          {{!-- Weight --}}
          <div class="flexrow nowrap">
            <label class="resource-label">Weight</label>
            <input type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number" step="0.5" />
          </div>
          {{!-- Cost --}}
          <div class="flexrow nowrap">
            <label class="resource-label">Cost</label>
            <input type="number" name="system.cost" value="{{system.cost}}" data-dtype="Number" step="0.5" />              
          </div>
          {{!-- Weapon Type --}}
          <div class="flexrow nowrap">
            <label class="resource-label">Weapon Type</label>
            <input type="text" name="system.weaponType" value="{{system.weaponType}}" data-dtype="Text" />
          </div>
          {{!-- Parry --}}
          <div class="flexrow nowrap">
              <label class="resource-label">Parry</label>
              <input type="number" name="system.parry" value="{{system.parry}}" data-dtype="Number" />
          </div>
          {{!-- Is Melee --}}
          <div class="flexrow nowrap">
            <label class="resource-label">Is Melee</label>
            <input type="checkbox" name="system.allowsMelee" {{#if system.allowsMelee}}checked{{/if}} />  
          </div>          
          {{!-- Is Ranged --}}
          <div class="flexrow nowrap">
            <label class="resource-label">Is Ranged</label>
            <input type="checkbox" name="system.allowsRanged" {{#if system.allowsRanged}}checked{{/if}} />
          </div>
          {{!-- Is Equipped --}}  
          <div class="flexrow nowrap">
            <label class="resource-label">Is Equipped</label>
            <input type="checkbox" name="system.isEquipped" {{#if system.isEquipped}}checked{{/if}} />
          </div>


          
          {{!-- field --}}
          <div class="flexrow nowrap">
            

          </div>

        </div>
        <div class="flex2">
          {{editor enrichedDescription target="system.description" engine="prosemirror" button=true editable=editable}}
        </div>
      </div>      
    </div>
    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/unboundfate/templates/item/parts/item-effects.hbs"}}
    </div>
    {{!-- Melee Tab --}}
    <div class="tab melee {{#unless showMeleeTab}}hide{{/unless}}" data-group="primary" data-tab="melee">      
      <div class="flexcol">
          {{!-- Melee: Damage 1H --}}
          <div class="flexrow nowrap">
            <label class="resource-label">Damage (1H)</label>
            <input type="text" name="system.melee.damage1H" value="{{system.melee.damage1H}}" />
          </div>
          {{!-- Melee: Damage 2H --}}
          <div class="flexrow nowrap">
            <label class="resource-label">Damage (2H)</label>
            <input type="text" name="system.melee.damage2H" value="{{system.melee.damage2H}}" />
          </div>
          {{!-- Melee: Skill --}}
          <div class="flexrow nowrap">
            <label class="resource-label">Skill</label>
            <input type="text" name="system.melee.skill" value="{{system.melee.skill}}" />
          </div>
          {{!-- Melee: Skill Specialisation --}}
          <div class="flexrow nowrap">
            <label class="resource-label">Skill Specialisation</label>
            <input type="text" name="system.melee.skillSpec" value="{{system.melee.skillSpec}}" />
          </div>
          {{!-- Melee: Held In Two Hands --}}
          <div class="flexrow nowrap">  
            <label class="resource-label">Held In Two Hands</label>
            <input type="checkbox" name="system.melee.held2H" {{#if system.melee.held2H}}checked{{/if}} />
           </div>                       
      </div>
    </div>
    {{!-- Ranged Tab --}}
    <div class="tab ranged {{#unless showRangedTab}}hide{{/unless}}" data-group="primary" data-tab="ranged">
      
    </div>

  </section>
</form>
